<nav id="nav-bar">
    <ul id="nav-list">
        <li><a href="index.html">
            <img src="../media/lumon-icon-light.png" alt="Lumon Industries Icon" id="lumon-icon">
        </a></li>
        <li><a class="nav-items" href="index.html">Home</a></li>
        <li><a class="nav-items" href="../pages/products.html">Products</a></li>
        <li><a class="nav-items" href="../pages/newsroom.html">Newsroom</a></li>
        <li><a class="nav-items" href="../career.html">Career</a></li>
        <li><a class="nav-items" href="../about.html">About</a></li>
        <li><a class="nav-items" href="../pages/intranet.html">Intranet</a></li> 
    </ul>
</nav>